body {
    background-image: url('C:/Users/HP/Documents/Semester 4/Perancangan Web/Website/background.png'); /* Ganti dengan path gambar background */
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: 'Georgia', serif;
}

.container {
    text-align: center;
    position: relative;
}

.text-overlay {
    position: absolute;
    top: -40px; /* Adjust this value as needed */
    left: 50%;
    transform: translateX(-50%);
    width: 200px; /* Adjust width as needed */
    z-index: 10;
}

#musicImage {
    width: 300px;
    cursor: pointer;
    transition: transform 0.5s ease;
    margin-top: 80px;
}

.spinning {
    animation: spin 2s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

audio {
    display: none;
    margin-top: 20px;
}

.home-link {
    background-color: #3A3B3C;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 40px auto;
    cursor: pointer;
    border-radius: 8px;
    display: block;
    width: fit-content;
}

.home-link:hover {
    background-color: #FF8C00;
}

.Footer {
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
    font-family: 'Georgia', serif;
}
